
/* Global selector */
* {
  font-family: Helvetica, Sans-Serif;
  color: black;
  line-height: 1.2;
}

body {
    background-color:  snow;
    color: black;
    font-size: 18px;
       
}





.div {
width: 1200px;
padding: 10px;
border: 5px groove black;

  }

  #one {
    display: flex;
    background-color: darkgray;
    float: left;
    width: 870px;
    border: 5px groove black;
    blockquote {margin: 20px;} 

    }

#two {
  background-color: darkgray;
  justify-self: center;
  flex-direction: column;
  align-items: flex-start;
  width: 1200px;

  
}

#three {
  display: flex;  
  background-color: darkgray;
    float: right;
    width: 870px;
    padding 40px;
    border: 5px groove black;
    blockquote {margin: 20px;}
}
    
 #four {
        width: 950px;
        border: 5px groove black;
        
    }
    

   
    
    a:link {
      color: white;
      background-color: transparent;
      text-decoration: none;
    }
    a:visited {
      color: seagreen;
      background-color: transparent;
      text-decoration: none;
    }
    a:hover {
      color: seagreen;
      background-color: transparent;
      text-decoration: underline;
    }
    a:active {
      color: seagreen;
      background-color: transparent;
      text-decoration: underline;
    }
    </style>
  

    <body class="Site">
    <header>…</header>
    <main class="Site-content">…</main>
    <footer>…</footer>
  </body>

  .footer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
 .footer-content {
   flex: 1;
   font-size: large;
   
 }

  
  }




